<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <style></style>
    <title>Bootstrap Example</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="navbar navbar-expand navbar-white bg-white border-bottom">
        <div class="dropdown custom-dropdown">
          <span class="dropdown-icon custom-dropdown-icon">&#9776;</span>
          <div class="dropdown-content custom-dropdown-content">
            <a href="#" class="dropdown-item" (click)="home()">Home</a>
            <a href="#" class="dropdown-item" (click)="clientes()">Clientes</a>
            <a href="#" class="dropdown-item">Usuarios</a>
            <a href="#" class="dropdown-item">Campanhas</a>
            <a href="#" class="dropdown-item">Relatorios</a>
          </div>
        </div>

        <img
          src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-wIilfucRQrXS8MSMwJDCOQPx7po91NQVbBC-LX7Blr-98fK6lS12R8gfiZr_xt8BYTyjHTD4t3d1tM6M15mWx1MY25=w1920-h923"
          class="ndfHFb-c4YZDc-HiaYvf-RJLb9c custom-image"
          alt="Exibindo logo-4io.png"
          (click)="home()"
        />

        <div class="container d-flex custom-container">
          <div class="ml-auto">
            <div class="dropdown1" style="margin-right: 10px">
              <button class="dropdown-btn1">Idioma</button>
              <div class="dropdown-content1">
                <a href="#" class="dropdown-item1" style="color: black"
                  >Português</a
                >
                <a href="#" class="dropdown-item1" style="color: black"
                  >English</a
                >
                <a href="#" class="dropdown-item1" style="color: black"
                  >Espanhol</a
                >
                <a href="#" class="dropdown-item1" style="color: black"
                  >Italiano</a
                >
              </div>
            </div>

            <div class="dropdown1">
              <button class="dropdown-btn1">Admin</button>
              <div class="dropdown-content1">
                <a
                  href="#"
                  class="dropdown-item1"
                  style="color: black"
                  (click)="logout()"
                  >Logout</a
                >
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="container" style="padding-bottom: 5px; margin-top: 15px">
        <div
          class="navbar-white bg-white border border-top border-bottom border-left border-right"
          style="padding: 5px; color: gray; margin-bottom: 10px"
        >
          RSA/Clientes
        </div>
      </div>

      <div class="div-main">
        <div class="table-container table-control">
          <input
            type="text"
            id="searchInput"
            placeholder="Pesquisar"
            (input)="filterTable($event)"
            style="margin-left: 88%; margin-bottom: 21px"
          />
          <table>
            <thead>
              <tr>
                <th class="th-custom">Nome</th>
                <th class="th-custom">Cidade</th>
                <th class="th-custom">Contrato</th>
                <th class="th-custom">E-mail</th>
                <th class="th-custom">Telefone</th>
                <th class="th-custom">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of filteredData">
                <td>{{ item.nome }}</td>
                <td>{{ item.cidade }}</td>
                <td>{{ item.contrato }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.telefone }}</td>
                <td>{{ item.data }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <footer class="footer navbar-white bg-white border-top">
        <div class="container text-center">
          <div class="container text-center"></div>
          <p style="color: black">&copy; 2023</p>
        </div>
      </footer>
    </div>
  </body>
</html>
