<img
  src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-wIilfucRQrXS8MSMwJDCOQPx7po91NQVbBC-LX7Blr-98fK6lS12R8gfiZr_xt8BYTyjHTD4t3d1tM6M15mWx1MY25=w1920-h923"
  class="ndfHFb-c4YZDc-HiaYvf-RJLb9c"
  alt="Exibindo logo-4io.png"
  aria-hidden="true"
  style="margin-left: 42%; height: 300px"
/>

<h2 style="color: #831f82;">Login RSA</h2>
<form (submit)="login(username, password)">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" #username required />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" #password required />
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
